h1{
 text-align: center;
 text-shadow: 2px 2px 3px #333;
 -webkit-text-stroke: 2px #555;
 margin-top: 15px;
 font-size: 60px;
}

.row{
    font-family: 'Times New Roman', Times, serif;
    font-size: 13.6px;
}

.card-title{
    font-weight: bolder;
}

.card-footer{
    background-color: #FFB69F;
}